/* GENERALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d9 15%,
        #dfe0d9 100%
    );
    color: #141414
}

/* List Item */
ul li {
    list-style: none;
}

/* Text Bar */
.text-bar {
    outline: none;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #e5e6e7;
}

.text-bar::placeholder {
    font-weight: bold;
    opacity: .3;
}

/* Avatars */
.avatar img {
    width: 50px;
    border-radius: 50%;
}

/* Icons */
i {
    color: #bababa;
}

i:hover {
    color: #777e82;
}

/* APP */
.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

/* HEADER */
.app-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ededed;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-right ul li{
    display: inline-block;
}

.app-header ul i {
    margin-right: 20px;
    font-size: 20px;
}

.info {
    margin-left: 10px;
}

.last-access {
    color: #777e82;
}

/* SIDEBAR */
.side {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    border-right: 1px solid #dbdbdb;
}

/* Notification */
.side .notifications {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #a2dffe;
}

.side .notifications i {
    display: inline-block;
    text-align: center;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 50%;
    background: #fff;
    color: #a2dffe;
}

.text-notif a{
    color: #688ea2;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    padding: 5px;
    background: #fbfbfb;
}

.search a {
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 80px;
    line-height: 40px;
    background: #fff;
    border: 1px solid #e5e6e7;
    border-right: none;
}

/* Contact List */
.contact-list {
    flex-grow: 1;
}

.contact-list li {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #f6f6f6;
    transition: linear .2s;
    cursor: pointer;
}

.contact-list li:last-child {
    border-bottom: none;
}

.contact-list li .avatar {
    margin-right: 20px;
}

.contact-list li .avatar img {
    height: 60px;
    width: 60px;
}

.contact-list li:hover {
    background: rgba(186, 186, 186, .5);
}

/* MAIN */
.content {
    display: flex;
    flex-direction: column;
    flex-basis: 65%;
}

.content-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
    background-size: cover;
}

/* Chat */
.chat {
    display: flex;
    justify-content: space-between;
}

.message {
    width: 300px;
    padding: 0 15px;    
}

.received,
.sent {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-radius: 5px;
}

.sent {
    background-color: #ddfabf;
}

.received {
    position: relative;
    top: 60px;
    background-color: #ffffff;
}

.message .chat-text {
    padding: 10px 0px 0px 10px;
}

.message p {
    padding: 35px 5px 5px 0px;
    font-size: 10px;
    opacity: .3;
}

/* Footer */
.content-footer {
    display: flex;
    padding: 10px;
    background: #f4f0ed;
}

.content-footer i{
     font-size: 20px;
     padding: 12px 10px;
}


