/* GENERALS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dfe0d9 15%,
        #dfe0d9 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414
}

/* Avatars */
.avatar img {
    width: 50px;
    border-radius: 50%;
}

/* APP */
.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

/* HEADER */
.app-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #ededed;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-right ul li{
    list-style: none;
    display: inline-block;
}

.app-header ul i {
    margin-right: 20px;
    font-size: 20px;
    color: #bababa;
}

.app-header ul i:hover {
    color: #777e82;
}

.info {
    margin-left: 10px;
}

.last-access {
    color: #777e82;
}


/* SIDEBAR */
.side {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #dbdbdb;
}

/* MAIN */
.content {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
}

.content-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    background-image: url('../img/mine.jpg');
    background-size: cover;
}

.content-footer {
    padding: 30px;
    background: #f4f0ed;
}