<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;600&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'
        integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=='
        crossorigin='anonymous' />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Boolzapp</title>
</head>

<body>

    <!-- APP -->
    <div id="app" class="container">

        <!-- SIDEBAR -->
        <aside class="side">

            <!-- Side Header -->
            <header class="app-header">
                <div class="header-left">
                    <div class="avatar">
                        <img :src="'./img/avatar' + user.avatar + '.jpg'" v-bind:alt="user.name">
                    </div>
                    <div class="username">{{user.name}}</div>
                </div>

                <div class="header-right">
                    <ul>
                        <li><a href="#"><i class="fas fa-circle-notch"></i></a></li>
                        <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
                        <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
            </header>

            <!-- Side Main -->
            <section class="side-main">

                <!-- Notifications -->
                <div class="notifications">
                    <i class="fas fa-bell-slash"></i>
                    <div class="text-notif">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- Search -->
                <div class="search">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <input class="text-bar" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>

                <!-- Contact List -->
                <div class="contact-list">
                    <ul>
                        <li v-for="(contact, index) in contacts" :class="{active: index == activeContact}"
                            @click="setActiveContact(index)" v-show="contact.visible == true">
                            <div class="avatar">
                                <img :src="'./img/avatar' + contact.avatar +'.jpg'" :alt="contact.name + 'Avatar'">
                            </div>
                            <div class="username">{{contact.name}}</div>
                        </li>
                    </ul>
                </div>
        </aside>

        </section>

        </aside>

        <!-- MAIN CONTENT -->
        <main class="content">

            <!-- Main Header -->
            <header class="app-header">
                <div class="header-left">
                    <div class="avatar">
                        <img :src="'./img/avatar' + contacts[activeContact].avatar + '.jpg'"
                            :alt="contacts[activeContact].name">
                    </div>
                    <div class="info">
                        <div class="username">{{contacts[activeContact].name}}</div>
                        <div class="last-access">Ultimo accesso oggi alle 10.35</div>
                    </div>
                </div>
                <div class="header-right">
                    <ul>
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
                        <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
            </header>

            <!-- Main -->
            <section class="main-content">

                <!-- Chat -->
                <div class="chat-container">
                    <div v-for="message in contacts[activeContact].messages" :class="'message ' + message.status">
                        <div class="chat-text">{{message.message}}</div>
                        <p class="date">{{message.date}}</p>
                    </div>
            </section>

            <!-- Footer -->
            <footer class="content-footer">
                <a href="#"><i><i class="far fa-smile"></i></i></a>
                <input class="text-bar" type="text" placeholder="Scrivi un messaggio">
                <a href="#"><i><i class="fas fa-microphone"></i></i></a>
            </footer>
        </main>
    </div>

    <!-- JS -->
    <script src="./js/script.js"></script>

</body>

</html>